<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2YC5xH9z5nbe03petYMx-9FoF2RoGhjs</string>
	<key>GCM_SENDER_ID</key>
	<string>879266768055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter--app-5d1ba</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter--app-5d1ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879266768055:ios:b7a3895533d0a3ddb49932</string>
</dict>
</plist>